*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.card .carousel-item img {
    height: 60vh;
}

.card .carousel-item .card-title {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.card .carousel-item .card-text {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-link.active {
    color: #fff;
    background-color: rgb(218, 114, 17);
}

.navbar-nav .nav-link {
    padding: 10px;
    margin: 1vh;
    font-weight: bold;
    color: #000000;
}


#inicio {
    padding-top: 3%;
}

.grid-inicio {
    display: grid;
    grid-template-columns: repeat(3, 34.5%);
    clear: both;
}

#promocoes h2 {
        padding-top: 3%;
        padding-bottom: 3%;
}

.cidades-inicio img {
    width: 90%;
    height: 34.90276356192426vh;
    padding-top: 5vh;
}

.descricao p {
    width: 90%;
    color: #000000;
}

.descricao h6 {
    padding-top: 1vh;
}

.cidades-visitadas {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    clear: both;
    column-gap: 2vh;
    row-gap: 2vh;
}

.card img {
    width: 100%;
    height: 80vh;
}

.card {
    width: 100%;
    height: 100%;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1vh;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.01);
    transition: opacity 0.5s, background-color 1.5s;
}

.card-footer button {
    margin-left: 39%;
}

#mais-visitados h2 {
    padding-top: 5vh;
}

form {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul li img {
    width: 4%;
    margin-right: 2%;
    margin-top: 2%;
}

@media screen and (min-width: 768px) and (max-width:1023px ) {
    .card .carousel-item img {
        height: 40vh;
    }

    .grid-inicio {
        display: grid;
        grid-template-columns: repeat(2, 52.5%);
        clear: both;
    }

    .cidades-visitadas {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        clear: both;
        column-gap: 2vh;
        row-gap: 2vh;
    }

    .card img {
        width: 100%;
        height: 130vh;
    }

    .card-footer strike {
        font-size: 3vh;
    }

    .card-footer p {
        font-size: 3vh;
    }

    .card-footer button {
        padding: 20px;
        margin-left: 0%;
    }

    .card-title {
        font-size: 50px;
    }

    .card-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .grid-inicio {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        clear: both;
    }

    .cidades-inicio img {
        width: 100%;
    }

    .descricao p {
        width: 100%;
    }

    .cidades-visitadas {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        clear: both;
        column-gap: 2vh;
        row-gap: 2vh;
    }

    .card-footer button {
        margin-left: 0%;
    }
    
    ul li img {
        width: 10%;
    }

    form {
        width: 80%;
    }
}





