*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.carousel-item img {
    height: 50vh;
}

.navbar-nav .nav-link.active {
    color: #fff;
    background-color: rgb(218, 114, 17);
}

.navbar-nav .nav-link {
    padding: 5px;
    margin: 1vh;
    font-weight: bold;
    color: #000000;
}

#inicio {
    padding-top: 3%;
}

.grid-inicio {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    clear: both;
}

.cidades-inicio img {
    width: 90%;
    height: 34.90276356192426vh;
    padding-top: 5vh;
}

.descricao p {
    width: 90%;
    color: #000000;
}

.descricao h6 {
    padding-top: 1vh;
}

.cidades-visitadas {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    clear: both;
}

.card img {
    width: 100%;
    height: 80vh;
}

.card {
    width: 95%;
    height: 100%;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1vh;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.01);
    transition: opacity 0.5s, background-color 1.5s;
}


